EDAMAM_APP_ID=
EDAMAM_APP_KEY=
FATSECRET_CONSUMER_KEY=
FATSECRET_CONSUMER_SECRET=
GEOAPIFY_API_KEY=
GOOGLE_MAPS_API_KEY=
MEALME_CLIENT_ID=
MEALME_CLIENT_SECRET=
NUTRITIONIX_APP_ID=
NUTRITIONIX_API_KEY=
SPOONACULAR_API_KEY=
OPENAI_API_KEY=
ASSESSPORTAL_USERNAME=
ASSESSPORTAL_PASSWORD=
